In [3]:
# 실행: shift + enter, control+ enter
1+1+1+1+4

8

In [4]:
# enter : 편집모드(edit mode), esc: 명령모드(command mode)
2+2

4

In [ ]:
# 명령모드:
# a- 현재 셀 위에 셀을 추가, b- 아래 셀을 추가
# x(dd)- 셀을 제거, z - 삭제 취소

명령모드에서 m => 마크다운 모드 => 설명 
명령모드에서 y => 마크다운에서 코드작성 모드로 변경

In [5]:
# 대입/할당(assign) : 변수명 = 값
age = 30
print(age)

30

In [6]:
print(30)

30

In [7]:
a = 10
b = 10
c = 10

In [8]:
a+b+c

30

In [9]:
a=b=c=20

In [10]:
print(a)

20

In [11]:
a+30

50

In [12]:
del a # 변수를(메모리에서) 제거

In [13]:
print(a)

NameError: name 'a' is not defined

In [14]:
my_age1 = 20 #정수
my_age2 = "스무살" #문자열

In [16]:
type(my_age1)

int

In [17]:
type(my_age2)

str

In [18]:
a, b, c = 10, 20, 30

In [19]:
print(a,b,c)

10 20 30

In [21]:
age = 10 # 변수 생성, 처음 값을 대입(초기화)
age = 20 # 재할당
age = 30 # 재할당

## 데이터 타입
값(데이터)의 종류를 분류한 것

## 데이터 타입 종류
- 숫자형
    - 정수형(int, integer)
    - 실수형(float)
- 논리형(bool, boolean): 참, 거짓
- 문자열(str, string): 글자
- None(리터럴 값): 없다

### 숫자형

In [22]:
age = 30
tall = 175.32

In [23]:
type(age)

int

In [24]:
type(tall)

float

In [25]:
50 - age

20

In [26]:
10**2 #제곱의 표시

100

In [27]:
10/3 #나누기

3.3333333333333335

In [28]:
10//3 # 몫

3

In [29]:
10%3 #나머지 연산(모듈러스 연산자)

1

### 논리형

In [30]:
b1 = True
b2 = False

In [31]:
print(b1, b2)

True False

In [32]:
# 다른 타입의 값을 논리형으로 변환 bool(값)
# False: 숫자 - 0/0.0, 문자열 ""(빈문자열-0글자), None
# True: 나머지

In [33]:
bool(10)

True

In [35]:
bool(0)

False

In [36]:
bool("")

False

In [37]:
bool(None)

False