# 변수, 데이터타입 복습 기록

In [3]:
# 실행: shift + enter, control+ enter
1+1+1+1+4

8

In [4]:
# enter : 편집모드(edit mode), esc: 명령모드(command mode)
2+2

4

In [ ]:
# 명령모드:
# a- 현재 셀 위에 셀을 추가, b- 아래 셀을 추가
# x(dd)- 셀을 제거, z - 삭제 취소

명령모드에서 m => 마크다운 모드 => 설명 
명령모드에서 y => 마크다운에서 코드작성 모드로 변경

In [5]:
# 대입/할당(assign) : 변수명 = 값
age = 30
print(age)

30

In [6]:
print(30)

30

In [7]:
a = 10
b = 10
c = 10

In [8]:
a+b+c

30

In [9]:
a=b=c=20

In [10]:
print(a)

20

In [11]:
a+30

50

In [12]:
del a # 변수를(메모리에서) 제거

In [13]:
print(a)

NameError: name 'a' is not defined

In [14]:
my_age1 = 20 #정수
my_age2 = "스무살" #문자열

In [16]:
type(my_age1)

int

In [17]:
type(my_age2)

str

In [18]:
a, b, c = 10, 20, 30

In [19]:
print(a,b,c)

10 20 30

In [21]:
age = 10 # 변수 생성, 처음 값을 대입(초기화)
age = 20 # 재할당
age = 30 # 재할당

## 데이터 타입
값(데이터)의 종류를 분류한 것

## 데이터 타입 종류
- 숫자형
    - 정수형(int, integer)
    - 실수형(float)
- 논리형(bool, boolean): 참, 거짓
- 문자열(str, string): 글자
- None(리터럴 값): 없다

### 숫자형

In [22]:
age = 30
tall = 175.32

In [23]:
type(age)

int

In [24]:
type(tall)

float

In [25]:
50 - age

20

In [26]:
10**2 #제곱의 표시

100

In [27]:
10/3 #나누기

3.3333333333333335

In [28]:
10//3 # 몫

3

In [29]:
10%3 #나머지 연산(모듈러스 연산자)

1

### 논리형

In [30]:
b1 = True
b2 = False

In [31]:
print(b1, b2)

True False

In [32]:
# 다른 타입의 값을 논리형으로 변환 bool(값)
# False: 숫자 - 0/0.0, 문자열 ""(빈문자열-0글자), None
# True: 나머지

In [33]:
bool(10)

True

In [35]:
bool(0)

False

In [36]:
bool("")

False

In [37]:
bool(None)

False

In [38]:
# int(값) => 정수로 변환. 값: 실수, 논리형

In [39]:
int(True) #True는 정수 1로 변환

1

In [40]:
int(False) #False는 정수 0으로 변환

0

In [41]:
# 비교연산자 -> 결과가 논리형
3 >= 5

False

In [42]:
3 <= 5

True

In [43]:
5 == 5

True

In [44]:
5 != 5

False

In [45]:
num = int(input("입력: "))

입력: 10

In [46]:
num > 5

True

In [47]:
"a" > "b" #사전식 배열. 뒤에 나오는 글자가 더 큰 개념.

False

In [48]:
"abc" > "abk" # a=1부터 숫자의 합

False

In [49]:
# 논리 연산자: 피연산자/결과가 논리형

In [50]:
True & False # &: 하나가 거짓이면 거짓.

False

In [51]:
True and False # and: 하나가 거짓이면 거짓.

False

In [53]:
True | False # 모두 거짓이면 거짓 외엔 진실

True

In [54]:
True or False # 모두 거짓이면 거짓 외엔 진실

True

In [55]:
3>2 and 5<3

False

In [56]:
(3>2) | (5<3)

True

In [57]:
# ^: xor 연산자 - 둘이 같은 값이면 False, 하나가 다를시 True

In [58]:
True ^ True

False

In [59]:
False ^ False

False

In [60]:
True ^ False

True

In [61]:
not False

True

In [62]:
not (num==0)

True

In [63]:
num != 0

True

In [64]:
num = -10

In [65]:
# 참v if 조건 else 거짓v

In [66]:
"음수" if num<0 else "양수" # 조건(num<0)이 True이면 음수, False면 양수를 출력

'음수'

## None
값 없음. null

In [2]:
name = None # 이름이 없다.

In [3]:
print(name)

None

In [5]:
name = '홍길동' #재할당
print(name)

홍길동

In [6]:
name = None
name = "홍길동"
bool(name)

True

In [7]:
name if bool(name) else "이름없음"
# 이름이 있으면 그 이름을 반환, 없으면 "이름없음" 반환.

'홍길동'

In [8]:
name = ""
name if bool(name) else "이름없음"

'이름없음'

### 문자열(String)

In [9]:
name = "홍길동"

In [11]:
# \n : 엔터(줄바꾸기)
txt = "안녕하세요.\n반갑습니다.\n저는 송현아입니다."
print(txt)

안녕하세요.
반갑습니다.
저는 송현아입니다.

In [12]:
# 문자열 + 문자열 => 두 문자열을 합친다.
"abc"+"def"

'abcdef'

In [14]:
name = "홍길동"
value = "이름: "+name
print(value)

이름: 홍길동

In [17]:
# str(값) => 값을 문자열로 변환
age = 20 
value = "나이: "+ str(age) # 20 -> "20"
print(value)

나이: 20

In [22]:
a = 3.45
str(a) #3.45 => "3.45"

'3.45'

In [23]:
float(3.45)+10 # "3.45" => 3.45

13.45

In [24]:
"_"*3

'___'

In [25]:
"he" in "hello"

True

In [26]:
"he" not in "hello"

False

In [29]:
address = "서울시 강남구 서초동"
"서초" in address

True

In [30]:
len(address) #글자수

11

In [31]:
member_id = "abc1111"
"사용가능" if len(member_id) > 5 else "사용불가"

'사용가능'

### 문자열 indexing, slicing
- 인덱싱: 문자열의 index를 이용해 문자를 조회한다.
- 슬라이싱: 문자열의 index의 범위로 문자열을 조회한다.

#### indexing
- 문자열의 각 문자는 index 번호를 가진다. (공백, 특수문자 포함)
- index는 0부터 시작한다.
- indx를 음수로 주면 뒤에서부터 조회. (-1부터 시작)
- 변경할 수 없다.

In [2]:
value = "안녕하세요. 반갑습니다."
print(len(value)) # 0~12 , len 글자수 세는 함수

13

In [3]:
print(value[0])

안

In [4]:
print(value[12])

.

In [5]:
print(value[-1])

.

In [6]:
print(value[14]) # index범위를 넘어가면 오류발생.

IndexError: string index out of range

#### slicing
- 문자열[시작 index: 종료 index: 간격]
- 0~종료index-1
- 간격을 지정하면 간격만큼 index를 증/감한다.(생략시 1이 기본 간격)
- 0번 index부터 조회시 시작 index는 생략 가능
  ex) str_value[:5] => 0~4까지 조회

In [11]:
value = "안녕하세요. 반갑습니다."
print(value[0:4]) # 0~4-1 => 0~3까지 출력

안녕하세

In [12]:
print(value[0:1])

안

In [13]:
print(value[:5:2])

안하요

In [16]:
print(value[-1:-14:-1])

.다니습갑반 .요세하녕안

In [17]:
print(value[3:-2])

세요. 반갑습니

In [18]:
print(value[3:11])

세요. 반갑습니

In [19]:
print(value[:])

안녕하세요. 반갑습니다.

### 문자열 포메팅
- 문자열에 문장 형태를 미리 만들어 놓고 값은 나중에 대입하는 방식으로 문자열을 만드는 것.
- 이름: XXX, 나이:XXX, 성벌: XXX
- 기본형식은 같은데 XXX에 들어갈 값들은 그때 그때 다를 경우 사용
- format 함수 이용.

1) 문자열을 만들 때 나중에 넣을 곳을 {}로 표시하고 format() 메소드에서 {}에 들어갈 값을 순서대로 넣는다.

2) {}을 변수처리

In [20]:
my_format = "이름: {}, 나이: {}, 주소: {}"

f1 = my_format.format('이영희',25,'인천')
f2 = my_format.format('송현아',28,'서울')

In [21]:
print(f1,f2)

이름: 이영희, 나이: 25, 주소: 인천 이름: 송현아, 나이: 28, 주소: 서울

In [23]:
my_format = "이름:{name}, 나이:{age}, 주소:{address}"

f3 = my_format.format(name="이영희", age=25, address='인천')

In [26]:
print(f3)

이름:이영희, 나이:25, 주소:인천

### 형식 문자
%s 문자열

%d 정수

%f 실수

%% %

In [25]:
print("이름: %s, 나이:%d, 키: %.2f, %d%%" % ("홍길동",20,165.83,50 ))

이름: 홍길동, 나이:20, 키: 165.83, 50%

### String 주요 메소드
- split: 구분 문자열을 기분으로 나눈다.(공백이 기본값)


- strip(), lstrip(), rstrip(): 앞뒤,앞,뒤 공백 제거


- replace('바꿀문자열','새문자열)


- count('세려는 문자열')


- index(문자열): 문자열이 몇 번째 인덱스에 있는지 확인


- find(문자열): index와 동일. index는 Error발생, find는 -1리턴. 여러개일 경우 첫번째 것의 index만 리턴.


- upper(), lower(): 대문자(upper), 소문자(lower)로 변환


- startswith('문자열'): 문자열로 시작/끝 나는지 확인


- endswith('문자열')

In [29]:
value = "사과/귤/수박/복숭아"
result = value.split("/") # /를 기준으로 value의 문자열을 여러개로 나눠라.
result

['사과', '귤', '수박', '복숭아']

In [31]:
value = "    abc    "
result = value.rstrip()
result

'    abc'

In [39]:
customer_id =input("아이디: ")

아이디: value

In [40]:
print(len(customer_id))

5

In [41]:
value = "xxx홍길동xxx"
result = value.strip("x") #좌우의 x를 제거.
result

'홍길동'

In [43]:
value = "abcdef"
result = value.replace("abc","가나다")
result

'가나다def'

In [47]:
print(value.count("a"))

1

In [50]:
value = "안녕하세요. 반갑습니다. 안녕하세요."
print(value.index("안녕"))

0

In [51]:
print(value.index("안녕", 5)) #index5 부터 찾아라.

14

In [52]:
print(value.index('abc')) #index는 없을 시 오류.

ValueError: substring not found

In [54]:
print(value.find("abc")) #find는 없을 시 -1리턴

-1

In [55]:
value = "abcDEFgh"
print(value.upper())
print(value.lower())

ABCDEFGH
abcdefgh

### 데이터 타입 변환 함수

In [66]:
# 정수로 변환: int()
# 실수로 변환: float()
# 문자열로 변환: str()
print(int(50.123))
print(float(100))
print(str(300))

50
100.0
300

In [57]:
print(int("abc")) #문자열은 정수형으로 바꿀 수 없다.

ValueError: invalid literal for int() with base 10: 'abc'

In [61]:
v = input("숫자: ")

숫자: 33

In [63]:
print(v + 100) # v값 숫자가 아닌 문자열로 받았기 때문에 오류.

TypeError: can only concatenate str (not "int") to str

In [65]:
print(int(v)+100) # int로 정수형으로 바꾸었기때문에 연산 가능.

133

In [68]:
print(str(10) +"개")

10개

In [71]:
print(10 + "개")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [72]:
# 주석 단축키 : control + /

In [74]:
# print(1)
# print(2)