# 리스트 복습 기록

# 리스트

- 순서가 있는 자료구조
    - 순서: index로 원소들이 관리된다. 추가한 순서대로 저장되어 관리된다.

In [19]:
# 생성 [v,v,v,v]
list1 = [0,1,2,3,4,5,6,7,8,9,10]
list2 = ['홍길동', '박영희', '이명수']

In [20]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
list2

['홍길동', '박영희', '이명수']

In [22]:
list2[0]

'홍길동'

In [23]:
list2[20] #없는 index 조회시 에러

IndexError: list index out of range

In [24]:
list1[1:8] #1~7

[1, 2, 3, 4, 5, 6, 7]

In [25]:
list1[0:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
list1[:5] #0~5-1까지출력

[0, 1, 2, 3, 4]

In [49]:
list1[0:5] =[0,0,0,0]

In [56]:
list1

[0, 0, 0, 0, 6, 7, 8, 9, 10]

In [57]:
list3 = [10,20,30,40,50]

In [58]:
list3[::3] # 3만큼 띄워서

[10, 40]

In [59]:
list3

[10, 20, 30, 40, 50]

In [60]:
list3[:3] = [] # 공백으로 만들기= 값없애기
list3

[40, 50]

In [64]:
list4=[1,2,3,4]

In [65]:
del list4[0]
list4

[2, 3, 4]

리스트 안에 리스트(자료구조)를 원소로 추가.

In [66]:
list3 = [
    [1,2,3,4,5],
    [10,20,30,40,50],
    [100,200,300,400,500]
]

In [67]:
list3[0][1] #0번째 리스트안에서 1번째 리스트

2

In [68]:
list3[2][0]

100

In [69]:
# 리스트 + 리스트 => 두 리스트를 합친 새로운 리스트를 생성
num_list1= [1,2,3]
num_list2= [10,20,30]
result = num_list1+num_list2

In [70]:
result

[1, 2, 3, 10, 20, 30]

In [71]:
# 리스트 * 정수 : 리스트가 가진 원소들을 정수만큼 반복해서 가진 새로운 리스트 생성

In [74]:
result = num_list1 *3
result

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [75]:
# 리스트 대입
a = [10,20,30]

In [76]:
v1 = a[0]
v2 = a[1]
v3 = a[2]

In [77]:
v1,v2,v3

(10, 20, 30)

In [78]:
v1,v2,v3 = [10,20,30]

In [79]:
print(v1,v2,v3)

10 20 30

In [81]:
a,b,c = num_list1 # 리스트의 원소수와 변수의 개수는 같아야 한다.

In [82]:
a,b,c

(1, 2, 3)

### 주요 메소드

In [103]:
c_list= ['서울','부산']

In [104]:
c_list.append("울산") #울산"을 마지막에 추가.
c_list

['서울', '부산', '울산']

In [105]:
c_list.extend(["대전"]) # c_list+["대전"]과 동일
c_list

['서울', '부산', '울산', '대전']

In [107]:
b_list = sorted(c_list) #c_list를 정렬한 새로운 리스트를 반환.
b_list
# 원소들의 타입이 같아야 한다.

['대전', '부산', '서울', '울산']

In [108]:
c_list.sort(reverse=True) #내림차순

In [109]:
c_list

['울산', '서울', '부산', '대전']

In [110]:
c_list.insert(0,"청주") #0번 index에 "청주"를 삽입

In [111]:
c_list

['청주', '울산', '서울', '부산', '대전']

In [113]:
c_list.remove("울산") # 울산제거

In [114]:
c_list

['청주', '서울', '부산', '대전']

In [115]:
c_list.pop(0) #index의 값을 삭제하면서 반환한다.
c_list

['서울', '부산', '대전']

In [116]:
len(c_list) #리스트 안의 원소들이 몇개인지 반환

3

In [117]:
c_list.count('서울') #리스트안에 서울이 몇개?

1

# 튜플

- 리스트와 같이 순서대로 원소들을 저장하는 자료구조
- 리스트와 다른점은 원소를 변경할 수 없다.

In [118]:
t = (1,2,3)
type(t)

tuple

In [120]:
t[0] = 10 #튜플은 값을 변경/추가/삭제 할 수 없다.

TypeError: 'tuple' object does not support item assignment

In [122]:
t[0:2]

(1, 2)

In [123]:
1 in t

True

In [124]:
t1 = (4,5,6)

In [125]:
t2 = t + t1
t2

(1, 2, 3, 4, 5, 6)

In [126]:
x = 10
y = 100

In [127]:
tmp = y # = 100
y = x # = 10
x = tmp # = 100

In [128]:
x , y

(100, 10)

# 딕셔너리
- 키-값 쌍의 형태로 저장하는 자료구조 {키:값, 키:값,키:값)
- 키는 불변의 값들만 사용 가능하다.(숫자, 문자열, 튜플)
- key-value 쌍으로 값들을 모아서 관리.
- key값은 중복을 허용하지 않는다. (이미 있는 key값으로 추가하면 변경이 된다.)
- value는 중복된 값을 저장할 수 있다.

In [141]:
d1 = {"참외":10, "수박":20, "귤":50}
d2 = {"이름":"홍길동", "나이":30, "주소":"서울시 종로구"}

In [142]:
# 조회: indexer[키]
d1['참외']

10

In [143]:
d2['이름'],d2['주소']

('홍길동', '서울시 종로구')

In [144]:
d2['몸무게']=80 #없는 키에 값을 대입하면 추가된다.

In [145]:
d2

{'이름': '홍길동', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [146]:
d2['이름']='이순신' #있는 키에 값을 대입하면 변경.

In [148]:
v= d2.get("키") #없는 키를 조회하면 None을 반환.
print(v)

None

In [149]:
v = d2.get("키",170) # (키,기본값) 없는키면 기본값을 반환.
print(v)

170

### dict(): 딕셔너리를 생성하는 함수.

In [150]:
d3 = dict(귤=10,사과=20,수박=30)
d3

{'귤': 10, '사과': 20, '수박': 30}

# Set(집합)
- 중복되는 값을 허용하지 않고 순서를 신경쓰지 않는다.
- 인덱스와 슬라이싱 사용불가

In [151]:
s1 = {1,1,1,1,1,2,3,4} #중복을 허용하지 않는다.
s1

{1, 2, 3, 4}

In [152]:
#\합집합 &교집합 -차집합